@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.makelarge {
  width: 400px;
  padding: 10px 40px;
  background-color: rgb(17, 132, 136);
  margin: 25px 0;
}

.navy-custom {
  background-color: #1C3158 !important;
  margin-bottom: 10px;
  width: 325px !important;
  height: 60px !important;
  border-radius: 10px !important;
}

.makesearch {
  height: 49px !important;
  border-color: #F0F0F0 !important;
}

.secondary-nav {
  display: flex;
}